#--------------------------------------------------------------------
# OS FILES
#--------------------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini

#--------------------------------------------------------------------
# IDE FILES
#--------------------------------------------------------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
nbproject/

#--------------------------------------------------------------------
# VENDOR
#--------------------------------------------------------------------
/vendor/
composer.phar

#--------------------------------------------------------------------
# WRITABLE
#--------------------------------------------------------------------
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/cache/.gitkeep
!/writable/logs/.gitkeep
!/writable/session/.gitkeep
!/writable/uploads/.gitkeep
!/writable/debugbar/.gitkeep

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
.env

#--------------------------------------------------------------------
# BUILD
#--------------------------------------------------------------------
/build/
*.log

#--------------------------------------------------------------------
# TESTING
#--------------------------------------------------------------------
/phpunit.xml
.phpunit.result.cache

#--------------------------------------------------------------------
# VERCEL (Remove if migrating)
#--------------------------------------------------------------------
.vercel/
vercel.json
api/