.styled-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 2px solid #273b79;
  border-radius: 4px;
  cursor: pointer;
}
.styled-checkbox:checked {
  background-color: #273b79;
  border-color: #273b79;
}
.styled-label {
  font-size: 14px;
  color: #273b79;
  font-weight: 600;
  cursor: pointer;
}
.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 8px;
}
.file-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}
.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  padding: 2px 5px;
}
/* Add this to your CSS file */
.price-breakup-section {
  overflow-x: auto;
  white-space: nowrap;
}
.price-breakup-input {
  width: 120px; /* Adjust the width as needed */
}
